@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-white antialiased;
  }
}

.glass {
  @apply bg-glass backdrop-blur-glass border border-glass;
}
